
.raccordion {
background: none repeat scroll 0 0 #535353;
color: #FFFFFF;
margin: 1px 0;
}
.raccordion-title {
cursor: pointer;
display: block;
font-size: 16px;
font-weight: bold;
height: 20px;
padding: 6px 10px;
}
.raccordion-content {
background: #f9f9f9;
color: #404040;
font-size: 16px;
padding: 10px;
}
.raccordion-arrow {
height: 28px;
width: 29px;
}
.arrow-up {
background: url("images/arrow-down.png") no-repeat scroll 99% 4px / 23px auto rgba(0, 0, 0, 0);
}
.arrow-down {
background: url("images/arrow-up.png") no-repeat scroll 99% 4px / 23px auto rgba(0, 0, 0, 0);
}
