    .carouselbox {
      font-family: helvetica,sans-serif;
      font-size: 14px;
      width: 300px;
      position: relative;
      margin: 0;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 10px #ccc;
      overflow: hidden;
    }
    .carouselcontent {
      margin: 0;
      padding: 0;
    }
    .carouselcontent li {
      font-size:100px;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      text-align: center;
      z-index: 2;
    }
    .carouselactive {
      height: 200px;
    }
    .carouselcarouselbox button {
      border: none;
      visibility: hidden;
    }
    .carouselactive button {
      visibility: visible;
    } 
    
	.carouselbuttons button{
		border: none;
		width:20px;
		height:20px;
	}
    .carouselactive .carouselbuttons {
      padding: 0;
      background: #eee;
      text-align: center;
      z-index: 10;
      position: relative;
    }
    .carouselactive li {
      position: absolute;
      top: 20px;
      opacity: 0;
      transform: scale(0);
      transition: 1s;
    }
    .carouselactive li.carouselcurrent {
      top: 20px;
      opacity: 1;
      transform: scale(1);
      transition: 1s;
    }

    .li img {
      width: 100%;
    }