.landing {
    /* The image used */
    background-image: url('images/background.png');

    background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}

.title {
line-height: 0.5;
font-size: 3.0rem;
text-align: center;
position: relative; 
color: #F8F8F8;
font-family: 'Josefin Sans', sans-serif;
 
}

.title:before,
.title:after {
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
    content: "";
    display: inline-block;
    height: .1em;
    position: relative;
    vertical-align: middle;
    width: 10%;
    margin-bottom: .15em;
}
.title:before {
    right: 0.5em;
    margin-left: -50%;
}
.title:after {
    left: 0.5em;
    margin-right: -50%;
}

.salutation{
overflow: hidden;
text-align: center;
color: #F8F8F8;

}

.resumeitem{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.0rem;
}


/* Style the header with a grey background and some padding */
.header {
 padding: 30px;
 text-align: center;
}

/* Style the header links */
.header a {
  display: inline-block;
  height: 38px;
  width:180px;
  padding: 0 30px;
  color: #F8F8F8;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  margin: 0 auto;
}

.commonheader {
 padding: 20px;
text-align: center;
}

/* Style the header links */
.commonheader a {
  display: inline-block;
  height: 38px;
  width:200px;
  padding: 0 30px;
  color: #000033	;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  margin: 0 auto;
}


/* Change the background color on mouse-over */
.header a:hover ,.commonheader a:hover{
  background-color: #ddd;
  color: #555;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}

.wrap {
  height: 100%;
}


.postit {
  text-align:left;     
  width: 275px;    
  margin: 25px;    
  min-height:250px;
  max-height:250px;
  padding-top:35px;
  padding-left:10px;
  position:relative;   
  border:1px solid #E8E8E8;  
  border-top:50px solid #a8a8a8;
  font-family: font-family: 'Josefin Sans', sans-serif;
  font-size:14px;      
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
   background: #CACACA; /* Old browsers */
background: -moz-linear-gradient(-45deg, #CACACA 81%, #CACACA 82%, #CACACA 82%, #CACACA 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#CACACA), color-stop(82%,#CACACA), color-stop(82%,#CACACA), color-stop(100%,#CACACA)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* IE10+ */
background: linear-gradient(135deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACACA', endColorstr='#CACACA',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {     
   content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:250px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit h1{
    margin-top:-70px;
    margin-left:5px;
    font-family: 'Merriweather', serif;
  	font-size:16px;   
}

.postit ul{
 list-style:none;
 margin:0; padding:0;
 list-style-position: inside; 
}

.postit ul li{
  margin:5px; padding:0;
  background:url('../images/check.png') no-repeat 0 0;
  padding-left:30px;  
}

.spacer{
padding-bottom: 200px;
}
	/*Footer*/
	
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  background:#f3f3f3;
  color: #000000;
  border-top: 1px solid #808080 ;
  border-bottom: 1px dotted #000000;
  /* negative value of footer height */
  height: -90px;
  clear: both;
  font-size: 0.9em;
}
.footer-copyright {
  margin-bottom:0px;
  text-align: center;
  color: #000000;
  padding:0;
  font-size: 0.9em;
}

h4{
    padding-top:20px;
}
	
	/*Resume*/
	h6 span {
    padding-right:10px; 
    display:block;
}
    .glyphcolor {
    color: #144150;
}
	.progress {
		height: 6px;
	background-color: #B8C2C9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.listings{
border-collapse: collapse;
border: none;
text-align: center;
width: 98%;
margin-left: auto;
margin-right: auto;
padding:0;
}
.project{text-decoration: underline;}
    
/*Projects*/
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width: 150%;
    height:auto;
    display:block;
    z-index:999;