/**********
/* Header
**********/
	.header[role=banner] {
		background:#fff;
		padding:0;
		overflow: hidden;
	}
	
	.header figure img {
		border-radius: 10px;
		position: relative;
		margin:10px;
		height: 150px;
		float:right;
	}
	
	.header hgroup {
		float: left;
		padding: 5px 0;
	}
	
	.header hgroup h2 {
		color:#555;
		font-family:'DroidSansBold', Arial, sans-serif;
        font-size: 5.2rem;
		
	}
	
	.header hgroup h3 {
		color:#7B8B8B;
        font-size: 2.5rem;
        font-style:bold;
		
	}
	
	/*Resume*/
	h6 span {
    padding-right:10px; 
    display:block;
}
    .glyphcolor {
    color: #144150;
}
	.progress {
		height: 6px;
	background-color: #B8C2C9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.listings{
border-collapse: collapse;
border: none;
text-align: center;
width: 98%;
margin-left: auto;
margin-right: auto;
padding:0;
}
.project{text-decoration: underline;}
    
/*Projects*/
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width: 150%;
    height:auto;
    display:block;
    z-index:999;
}
	/*Footer*/
	
	.footer {
  background:#f3f3f3;
  color: #000000;
  padding: 10px 20px 10px 20px;
  border-top: 1px solid #808080 ;
  border-bottom: 1px dotted #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding:20px;
 
}
.footer-copyright {
  text-align: center;
  color: #000000;
 
  padding-top: 10px;
  font-size: 0.9em;
}
a { 
	color: #303030; 
	text-decoration: none;
	}
a:hover { border-bottom-style: solid; color: #828282; }


 .postit {
  text-align:left;     
  width: 275px;    
  margin: 25px;    
  min-height:250px;
  max-height:250px;
  padding-top:35px;
  padding-left:10px;
  position:relative;   
  border:1px solid #E8E8E8;  
  border-top:50px solid #a8a8a8;
  font-family: 'Merriweather', serif;
  font-size:20px;      
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
   background: #CACACA; /* Old browsers */
background: -moz-linear-gradient(-45deg, #CACACA 81%, #CACACA 82%, #CACACA 82%, #CACACA 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#CACACA), color-stop(82%,#CACACA), color-stop(82%,#CACACA), color-stop(100%,#CACACA)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* IE10+ */
background: linear-gradient(135deg, #CACACA 81%,#CACACA 82%,#CACACA 82%,#CACACA 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CACACA', endColorstr='#CACACA',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit:after {     
   content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:250px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit h1{
    margin-top:-70px;
    margin-left:5px;
    font-family: 'Merriweather', serif;
  	font-size:22px;   
}

.postit ul{
 list-style-image: url('../images/check.png'); 
 list-style-position: inside; 
}

